body {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

.label-delay {
  display: flex;
  flex-direction: column;
  margin-bottom: 13px;
}

.input-delay {
  width: 326px;
  height: 22px;
  margin-top: 8px;
  border-radius: 4px;
  border: 1px solid #808080;
  outline: none;
  padding: 8px 16px;
}

.input-delay:hover {
  border-color: #000;
}

.input-delay:active {
  border-color: #4e75ff;
}

fieldset {
  stroke-width: 1px;
  stroke: #808080;
  width: 283px;
  height: 46px;
  padding: 17px 48px 12px 28px;
  border: 1px solid #808080;
}

label-fieldset {
  padding-right: 28px;
}

button {
  margin-top: 24px;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border-radius: 8px;
  background: #4e75ff;
  outline: auto;
  padding: 8px 99px;
}

button:hover {
  background: #6c8cff;
}
