@import url('./reset.css');
@import url('./1-timer.css');
@import url('./2-snackbar.css');

body {
  margin-left: 40px;
}

.main-title {
  font-size: 25px;
  font-weight: 600;
  margin-left: 20px;
  margin-bottom: 20px;
}

.main-item {
  list-style: auto;
  padding-bottom: 20px;
}

.main-item a {
  font-size: 20px;
  text-decoration: none;
}

.main-item a:hover {
  text-decoration-line: underline;
}
